<!DOCTYPE html>
<html lang="es">
<head>
    <!--CONFIGURACION-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Inetum es una compañía de IT ágil que proporciona servicios y soluciones digitales y un grupo global que ayuda a compañías e instituciones a aprovechar al máximo el flow digital.">
    <title>CONTACTO</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" >
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" >
    <link rel="stylesheet" href="../css/estilos.css">
   
    <!--FAVICON-->
    <link rel="icon" href="../favicon.ico" type="imagen/png">
</head>
<body>
    <header>
        <!--CONTENIDO-->
        <img src="../assets/images/inetum1.jpg" alt="Logo Inetum" width="300" height="100">
        <!--nav: Barra de navegación-->
        <nav>
            <!--lista desordenada para el menú-->
            <ul id="indice">
                <li class="lista1"><a class="menu" href="../index.html">Inicio</a></li>
                <li class="lista1"><a class="menu" href="../views/productos.html">Galería</a></li>
                <li class="lista1"><a class="menu" href="../views/presupuestos.html">Presupuestos</a></li>
                <li class="lista1"><a class="menu" href="../views/contacto.html" style="background: #00aa9b; padding: 15px;">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Ubicación de nuestros centros</h1>
        <!--Ubicaciones de nuestroas centros-->
        <h2>Madrid</h2>
        <div id="map1"></div>
        <h2>Barcelona</h2>
        <div id="map2"></div>
    </main>
    <footer>
        <!--Pie de página-->
        <h2>Inetum</h2>
        <div id="caja4">
            <img src="../assets/images/direccion.jpg" alt="dirección">
            Dirección: C/ María de Portugal, 9-11 28050, Madrid
            <img src="../assets/images/telefono.jpg" alt="teléfono">
            Teléfono: +34 913874700
            <img src="../assets/images/siguenos.jpg" alt="síguenos">
            Síguenos: 
            <!--Imágenes con enlaces a las diferentes redes sociales-->
            <a href="https://twitter.com"><img src="../assets/images/twitter.jpg" alt="twitter"></a> 
            <a href="https://www.facebook.com"><img src="../assets/images/facebook.jpg" alt="facebook"></a> 
            <a href="https://www.linkedin.com"><img src="../assets/images/linkedin.jpg" alt="linkedin"></a> 
            <a href="https://www.youtube.com/"><img src="../assets/images/youtube.jpg" alt="youtube"></a>  
            <a href="https://www.instagram.com"><img src="../assets/images/instagram.jpg" alt="instagram"></a> 
            Aviso Legal
        </div>
    </footer>
    <!--JAVASCRIPT-->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/contacto.js"></script>
</body>
</html>